language: rust
rust:
  - stable
  - beta
sudo: required
services:
  - docker
before_install:
  - docker run -d -p 127.0.0.1:5432:5432 postgres:10
script:
  # to run tests in serial, because they depends on the same table in postgres
  - cargo test -- --test-threads=1
matrix:
  allow_failures:
    - rust: beta
