on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  server:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions-rs/toolchain@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
          # to run tests in serial, because they depends on the same table in postgres
          args: -- --test-threads=1
